<div data-ng-controller="dashboardController" data-ng-init="init()">
	<div class="container-fluid">	
		<div data-ng-repeat="chart in chartData">
			<div class="col-xs-{{numCol}}" 
			ng-switch on="chart.type">
			<barchart chart-id="chart.id" ng-switch-when="Bar">	</barchart>	
			<linechart chart-id="chart.id" ng-switch-when="Line">  </linechart>
			<donutchart chart-id="chart.id" ng-switch-when="Pie"> </donutchart>
			<columnchart chart-id="chart.id" ng-switch-when="Column"> </columnchart>
		</div>
	</div>
</div>