<div> 
  <ng-form name="innerForm">
    <div class="input-group" ng-class="inputClass">
      <input type="text" name="field" class="form-control" datepicker-popup="{{field.format}}" ng-model="mydate" is-open="opened" date-disabled="field.disabled" ng-disabled="field.disabled" ng-required="field.required" close-text="Close" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open($event)" ng-disabled="field.disabled"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </div>
    <div ng-if="field.required" class="alert alert-danger" role="alert" ng-show="innerForm.field.$error.required">{{errors.required}}</div>
    <div ng-if="field.minimumValue" class="alert alert-danger" role="alert" ng-show="tooEarly()">{{errors.minimumValue}}</div>
    <div ng-if="field.maximumValue" class="alert alert-danger" role="alert" ng-show="tooLate()">{{errors.maximumValue}}</div>
  </ng-form>
</div>