<ng-form name="innerForm">
    <div class="input-group" ng-class="inputClass">
        <a ng-show="value.url" href="{{value.url}}" target="{{value.target}}" class="form-control">{{value.linkText}}</a>
        <span ng-hide="value.url" class="form-control"></span>
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="{{ '#myModal-' + field.name }}"><i class="fa fa-link"></i></button>
        </span>
    </div>
    <div class="modal fade" data-backdrop="static" id="{{ 'myModal-' + field.name }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="linkText">Label</label>
                        <input type="text" ng-model="value.linkText" class="form-control" id="linkText" placeholder="Link Text">
                    </div>
                    <div class="form-group">
                        <label for="linkUrl">Url</label>
                        <input type="url" ng-model="value.url" name="editUrl" class="form-control" id="linkUrl" placeholder="http://">
                    </div>
                    <div class="form-group">
                        <label for="checkboxOpen">
                            <input type="checkbox" id="checkboxOpen" class="" ng-model="value.target" ng-true-value="null" ng-false-value="_blank">
                            Open in same tab
                        </label>
                    </div>

                    <div class="alert alert-danger" role="alert" ng-show="innerForm.editUrl.$error.url">{{errors.url}}</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</ng-form>
