<div class="show" tabindex="-1" role="dialog" aria-hidden="true">
    <form role="form" name="form" novalidate ng-submit="submit()">
        <div class="panel panel-default">
            <div class="panel-heading"><h6 class="panel-title">{{configInfo.title}}</h6></div>
            <div class="panel-body">
                <div class="row">
                    <div ng-include="'backand/js/directives/forms/partials/field.html'" class="col-md-{{12 / configInfo.columnsInDialog * field.columns | parseInt}} form-group" ng-repeat="field in configInfo.fields" ng-if="field.show">
                        <!-- field -->
                    </div>
                </div>
                <div class="tabbable form-group">
                    <ul class="nav nav-tabs" role="tablist">
                        <li ng-repeat="category in configInfo.categories" ng-class="{active : $first}" ng-click="tabClick(category)">
                            <a href="#{{category.catName | removeSpaces}}" showtab role="tab" data-toggle="tab">{{category.catName}}</a>
                        </li>
                    </ul>
                    <div class="tab-content panel-body">
                        <div class="tab-pane fade in" ng-class="{active : $first}" ng-repeat="category in configInfo.categories" id="{{category.catName | removeSpaces}}" ng-form="subForm">
                            <div ng-include="'backand/js/directives/forms/partials/field.html'" class="col-md-{{12 / category.columnsInDialog * field.columns | parseInt}} form-group" ng-repeat="field in category.fields" ng-if="field.show">
                                <!-- field -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions panel-footer">
                <div class="=col-md-10 text-left">
                    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)"><span ng-bind-html="alert.msg"></span></alert>
                </div>
                <div class="=col-md-2 text-right">
                    <button type="submit" class="btn btn-primary" ng-show="configInfo.editable && isNew" ng-hide="waiting || !isNew" ng-disabled="form.$invalid" ng-click="continue = true">{{submitAndContinueCaption}}</button>
                    <button type="submit" class="btn btn-primary" ng-show="configInfo.editable" ng-hide="waiting" ng-disabled="form.$invalid" ng-click="continue = false">{{submitCaption}}</button>
                    <img class="img-responsive" ng-show="waiting" src="backand/img/ajax-loader.gif" ng-style="{'display':'inline-block'}" />
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/ng-template" id="backand/js/directives/forms/partials/field.html">
    <label ng-hide="field.type == 'checkbox'">{{field.displayName | parseLabel:field}}</label>
    <div ng-switch on="field.type">
        <bknd-ng-grid ng-switch-when="subgrid" view-name="field.relatedViewName" filter-options="field.filterSubgrid()" input-style="{'height': 500}"></bknd-ng-grid>
        <div ng-switch-when="disabledSubgrid" bknd-disabled-grid message="\'Save first to add rows\'"></div>
        <div ng-switch-when="singleSelect" single-select field="field" value="field.value" form="" input-class="" errors="field.errors"></div>
        <div ng-switch-when="autocomplete" autocomplete field="field" value="field.value" form="" input-class="" errors="field.errors"></div>
        <div ng-switch-when="editor" editor field="field" value="field.value" form="" input-class="" errors="field.errors"></div>
        <div ng-switch-when="textarea" textarea field="field" value="field.value" form="" input-class="" errors="field.errors"></div>
        <label ng-switch-when="checkbox" class="checkbox-inline">
            <div checkbox field="field" value="field.value" form="" input-class="" errors="field.errors"></div>
            {{field.displayName | parseLabel:field}}
        </label>
        <div ng-switch-when="date" date field="field" value="field.value" form="" input-class="" errors="field.errors"></div>
        <div ng-switch-when="image" image field="field" value="field.value" form="" input-class="" errors="field.errors"></div>
        <div ng-switch-when="number" numeric field="field" value="field.value" form="" input-class="" errors="field.errors"></div>
        <div ng-switch-when="currency" numeric field="field" value="field.value" form="" input-class="" errors="field.errors"></div>
        <div ng-switch-when="percentage" numeric field="field" value="field.value" form="" input-class="" errors="field.errors"></div>
        <div ng-switch-when="numberWithSeparator" numeric field="field" value="field.value" form="" input-class="" errors="field.errors"></div>
        <div ng-switch-when="numeric" numeric field="field" value="field.value" form="" input-class="" errors="field.errors"></div>
        <div ng-switch-when="email" email field="field" value="field.value" form="" input-class="" errors="field.errors"></div>
        <div ng-switch-when="hyperlink">
            <div link field="field" value="field.value" form="" input-class="" errors="field.errors"></div>
        </div>
        <div ng-switch-default input field="field" value="field.value" form="" input-class="" errors="field.errors"></div>
    </div>
</script>