.ngViewport {
    /*overflow: scroll !important;*/
    min-height: 400px !important;
}
.curTable {
    background:#3c8dbc;
    opacity: 1;
    transition: 0.3s;
}
.modal-footer {
    border-top: 0px;
}