<div class="ng-back-grid box" id="bknd-grid_{{viewNameId}}">
    <div class="box-body table-responsive">
        <div class="btn-toolbar ng-back-grid-toolbar" role="toolbar">
            <div ng-repeat="buttonGroup in btnGroups" class="btn-group" ng-class="buttonGroup.class">
                <button ng-repeat="button in buttonGroup.buttons" type="button" ng-click="button.callback()" ng-class="button.class" class="btn btn-default navbar-btn"><span class="glyphicon" ng-class="button.iconClass"><span class="grid-toolbar-text">{{button.text}}</span></span></button>
            </div>
            <div class="btn-group">
                <button type="button" ng-click="activateFilter()" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-refresh"></span></button>
                <img ng-show="isLoad" src="backand/img/ajax-loader.gif" />
            </div>
            <div class="btn-group pull-right ng-back-grid-toolbar-Search" ng-show="showSearch && showToolbar">
                <input type="text" class="btn btn-default navbar-btn" ng-model="searchText" placeholder="Search" ng-keypress="filterKeyPress($event)" />
                <button type="button" ng-click="activateFilter()" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-search"></span></button>
                <button type="button" ng-click="deactivateFilter()" class="btn btn-default navbar-btn" ng-style="showClearFilter ? {'visibility':'visible'} :{'visibility':'hidden'}"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
            <div class="btn-group pull-right">
                <button type="button" ng-click="collapseFilter=!collapseFilter" class="btn btn-default navbar-btn"><span class="glyphicon " ng-class="collapseFilter ? 'glyphicon-chevron-down' : 'glyphicon-chevron-up'"><span class="grid-toolbar-text">{{collapseFilter ? "Filter" : "Filter"}}</span></span></button>
            </div>

        </div>
    </div>
    <div ng-show="showFilter && !collapseFilter" class="grid-filter">
        <div bknd-filter filter-options="filterToolbarOptions" show-operators="true"></div>
    </div>

</div>
