<div class="row">
    <div id="breadcrumb" class="col-md-12">
        <ol class="breadcrumb">
            <li data-ng-repeat="breadcrumb in breadcrumbs"><a href="#" ng-style="{'cursor':'default'}">{{breadcrumb.name}}</a></li>
        </ol>
    </div>
</div>

<div class="row">
    <bknd-dashboard colors-options="{line:['#2577B5','#7CB47C','#7A92A3','#A7B3BC','#cb4b4b','#9440ed','#edc240'],
                    bar:['#2577B5','#7CB47C','#7A92A3','#A7B3BC','#cb4b4b','#9440ed','#edc240'],
                    donut:['#2577B5','#7CB47C','#7A92A3','#A7B3BC','#cb4b4b','#9440ed','#edc240'],
                    column:['#2577B5','#7CB47C','#7A92A3','#A7B3BC','#cb4b4b','#9440ed','#edc240'],
                    spline:['#2577B5','#7CB47C','#7A92A3','#A7B3BC','#cb4b4b','#9440ed','#edc240'],
                    area:['#2577B5','#7CB47C','#7A92A3','#A7B3BC','#cb4b4b','#9440ed','#edc240'],
                    bubble:['#2577B5','#7CB47C','#7A92A3','#A7B3BC','#cb4b4b','#9440ed','#edc240']}"></bknd-dashboard>
</div>
