<div>
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <button type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-plus"> New</span></button>
            <button type="button" ng-click="editSelected()" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-pencil"> Edit</span></button>
            <button type="button" ng-click="deleteSelected()" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-trash"> Delete</span></button>
            <button type="button" ng-click="refreshData()" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-refresh"> Refresh</span></button>
        </div>
        <div class="btn-group">
            <input type="text" class="btn btn-default navbar-btn" ng-model="searchText" placeholder="Search" />
            <button type="button" ng-click="activateFilter()" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-search"> Search</span></button>
            <button type="button" ng-click="refreshData()" class="btn btn-default navbar-btn">X</button>
        </div>
        <img ng-show="isLoad" src="img/ajax-loader.gif"/>
    </div>
    
    <div ng-if="dataTable" ng-style="getTableStyle()" ng-grid="dataTable"></div>
</div>
