
<div class="row">
    <div class="col-md-12">
        <section id="bkndNgGrid">
            <div class="page-header">
                <h1>
                    bknd-ng-grid<small>
                        (<a target="_blank" href="https://github.com/backand/angularbknd/tree/master/app/backand/js/directives/grids">backand.directives.bknd-ng-grid</a>)
                    </small>
                </h1>
            </div>
            <div class="row">
                <div class="col-md-8 show-grid">
                    <div data-ng-controller="dynamicGridController">
                        <u>Grid Example</u>
                        <bknd-ng-grid view-name="viewName" input-style="{'height': 400}" button-groups="buttonGroups" disable-edit-on-dbl-click="disableEditOnDblClick"></bknd-ng-grid>
                    </div>
                    <!--<div data-ng-controller="dynamicGridController">
                        Dynamic Grid Example
                        <bknd-ng-grid view-name="viewName" input-style="inputStyle"></bknd-ng-grid>
                    </div>-->
                    <a href="#/grid">more examples...</a><br/>
                </div>
                <div class="col-md-4">
                    <p>
                        Binded ng-grid to the Backand REST API
                    </p>
                    <p>
                        This directive provides out-of-the-box CRUD functioality, advanced sorting and filtering
                    </p>
                    <h3>bknd-ng-grid Settings</h3>
                    <p>All settings can be provided as attributes in the <code>bknd-ng-grid</code> or through the query string parameters.</p>
                    <ul>
                        <li>
                            <p>
                                <code>view-name</code>
                                <em>(Defaults: null)</em> :
                                A name of a table or view from the database
                            </p>
                        </li>
                        <li>
                            <p>
                                <code>filter-options</code>
                                <em>(Defaults: null)</em> :
                                uses BackAnd REST API filter options: {fieldName, operator, value}
                            </p>
                        </li>
                        <li>
                            <p>
                                <code>input-style</code>
                                <em>(Defaults: null)</em> :
                                css style
                            </p>
                        </li>
                    </ul>
                    <h3>bknd-ng-grid Events</h3>
                    <ul>
                        <li>
                            <p>
                                <code>gridConfigCompleted</code>
                                Emit when the configuration of the grid finishes loading from the Backand REST API and before the configuration of the ng-grid
                            </p>
                        </li>
                        <li>
                            <p>
                                <code>gridDataCompleted</code>
                                Emit when the data of the grid finishes loading from the Backand REST API and before the loading of the rows into ng-grid
                            </p>
                        </li>
                        <li>
                            <p>
                                <code>setCellTemplate</code>
                                Emit when setting the cellTemplate option of ng-grid
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <hr />
                <div class="tabbable form-group">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active">
                            <a href="#bkndGridMarkup" showtab role="tab" data-toggle="tab">Markup</a>
                        </li>
                        <li>
                            <a href="#bkndGridJavaScript" showtab role="tab" data-toggle="tab">JavaScript</a>
                        </li>
                    </ul>
                    <div class="tab-content panel-body">
                        <div class="tab-pane fade in active" id="bkndGridMarkup">
<pre id="htmlOutput" class="html prettyprint">
<span class="tag">&lt;div&gt;</span>
<span class="pln">&nbsp;&nbsp;&nbsp;&nbsp;Static Grid Example</span>
<span class="tag">&nbsp;&nbsp;&nbsp;&nbsp;&lt;bknd-ng-grid</span><span class="pln"> </span><span class="atn">view-name</span><span class="pun">=</span><span class="atv">"'Employees'"</span><span class="pln"> </span><span class="atn">input-style</span><span class="pun">=</span><span class="atv">"{'height': 400}"</span><span class="tag">&gt;&lt;/bknd-ng-grid&gt;</span><span class="pln">
</span><span class="tag">&lt;/div&gt;</span><span class="pln">
</span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">data-ng-controller</span><span class="pun">=</span><span class="atv">"dynamicGridController"</span><span class="tag">&gt;</span><span class="pln">
&nbsp;&nbsp;&nbsp;&nbsp;Dynamic Grid Example
</span><span class="tag">&nbsp;&nbsp;&nbsp;&nbsp;&lt;bknd-ng-grid</span><span class="pln"> </span><span class="atn">view-name</span><span class="pun">=</span><span class="atv">"viewName"</span><span class="pln"> </span><span class="atn">input-style</span><span class="pun">=</span><span class="atv">"inputStyle"</span><span class="tag">&gt;&lt;/bknd-ng-grid&gt;</span><span class="pln">
</span><span class="tag">&lt;/div&gt;</span></pre>
                        </div>
                        <div class="tab-pane fade in" id="bkndGridJavaScript">
                            <div class="dJsColor" style="font-size: 12px; overflow: auto;"><span class="fj_string">'use&nbsp;strict'</span>;<br><span class="fj_keyword">var</span>&nbsp;backAndControllers&nbsp;&nbsp;=&nbsp;angular.module(<span class="fj_string">'backAnd.controllers'</span>);<br>backAndControllers.controller(<span class="fj_string">'dynamicGridController'</span>,&nbsp;[<span class="fj_string">'$scope'</span>,<br/>&nbsp;&nbsp;&nbsp;&nbsp;<span class="fj_keyword">function</span>&nbsp;($scope)&nbsp;&nbsp;{<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$scope.viewName&nbsp;&nbsp;=&nbsp;<span class="fj_string">'Stores'</span>;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$scope.inputStyle&nbsp;=&nbsp;{&nbsp;<span class="fj_string">'height'</span>:&nbsp;550&nbsp;};<br>&nbsp;&nbsp;&nbsp;&nbsp;}<br>])</div>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <section id="bkndForm">
            <div class="page-header">
                <h1>
                    bknd-form,<small>
                        (<a target="_blank" href="https://github.com/backand/angularbknd/tree/master/app/backand/js/directives/forms">backand.directives.bknd-form</a>)
                    </small>
                </h1>
            </div>
            <div class="row">
                <div class="col-md-8 show-grid">
                    <div>
                        <u>Form Example</u>
                        <div bknd-form view-name="'Employees'" row-id="1"></div>
                    </div>
                    <!--<div data-ng-controller="dynamicFormController">
                        Dynamic Form Example
                        <div bknd-form view-name="viewName" row-id="id"></div>
                    </div>-->
                </div>
                <div class="col-md-4">
                    <p>
                        Binded Form to BackAnd REST API
                    </p>
                    <p>
                        This directive provide you a quick Form connected to your database
                    </p>
                    <h3>bknd-form Settings</h3>
                    <p>All settings can be provided as attributes in the <code>bknd-ng-grid</code> or through the query string parameters.</p>
                    <ul>
                        <li>
                            <p>
                                <code>view-name</code>
                                <em>(Defaults: null)</em> :
                                A name of a table or view from the database
                            </p>
                        </li>
                        <li>
                            <p>
                                <code>row-id</code>
                                <em>(Defaults: null)</em> :
                                The row primary key, if provided then the form is in EDIT mode otherwise it is in a CREATE mode.
                                if the primary key of the row has multiple column values then they should be comma delimited in the primary key columns' order
                            </p>
                        </li>
                        <li>
                            <p>
                                <code>default-fields-values</code>
                                <em>(Defaults: null)</em> :
                                Default value for each field: {fieldName, value}
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <hr />
                <div class="tabbable form-group">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active">
                            <a href="#bkndFormMarkup" showtab role="tab" data-toggle="tab">Markup</a>
                        </li>
                        <li>
                            <a href="#bkndFormJavaScript" showtab role="tab" data-toggle="tab">JavaScript</a>
                        </li>
                    </ul>
                    <div class="tab-content panel-body">
                        <div class="tab-pane fade in active" id="bkndFormMarkup">
<pre id="htmlOutput" class="html prettyprint"><span class="tag">&lt;div&gt;</span><span class="pln">
&nbsp;&nbsp;&nbsp;&nbsp;Static Form Example
</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">bknd-form</span><span class="pln"> </span><span class="atn">view-name</span><span class="pun">=</span><span class="atv">"'Employees'"</span><span class="pln"> </span><span class="atn">row-id</span><span class="pun">=</span><span class="atv">"1"</span><span class="tag">&gt;&lt;/div&gt;</span><span class="pln">
</span><span class="tag">&lt;/div&gt;</span><span class="pln">
</span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">data-ng-controller</span><span class="pun">=</span><span class="atv">"dynamicFormController"</span><span class="tag">&gt;</span><span class="pln">
&nbsp;&nbsp;&nbsp;&nbsp;Dynamic Form Example
</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">bknd-form</span><span class="pln"> </span><span class="atn">view-name</span><span class="pun">=</span><span class="atv">"viewName"</span><span class="pln"> </span><span class="atn">row-id</span><span class="pun">=</span><span class="atv">"id"</span><span class="tag">&gt;&lt;/div&gt;</span><span class="pln">
</span><span class="tag">&lt;/div&gt;</span></pre>
                        </div>
                        <div class="tab-pane fade in" id="bkndFormJavaScript">
                            <div class="dJsColor" style="font-size: 12px; overflow: auto;"><span class="fj_string">'use&nbsp;strict'</span>;<br><span class="fj_keyword">var</span>&nbsp;backAndControllers&nbsp;&nbsp;=&nbsp;angular.module(<span class="fj_string">'backAnd.controllers'</span>);<br>backAndControllers.controller(<span class="fj_string">'dynamicFormController'</span>,&nbsp;[<span class="fj_string">'$scope'</span>,&nbsp;<span class="fj_keyword"><br />&nbsp;&nbsp;&nbsp;&nbsp;function</span>&nbsp;($scope)&nbsp;&nbsp;{<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$scope.viewName&nbsp;&nbsp;=&nbsp;<span class="fj_string">'Customers'</span>;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$scope.id&nbsp;&nbsp;=&nbsp;1;<br>&nbsp;&nbsp;&nbsp;&nbsp;}<br>])</div>

                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>



<div class="row">
    <div class="col-md-12">
        <section id="bkndDashboard">
            <div class="page-header">
                <h1>
                    bknd-dashboard,<small>
                        (<a target="_blank" href="https://github.com/backand/angularbknd/tree/master/app/backand/js/directives/dashboard">backand.directives.bknd-dashboard</a>)
                    </small>
                </h1>
            </div>
            <div class="row">
                <div class="col-md-8 show-grid">
                    <div>
                        <u>Dashboard Example</u>
                        <bknd-dashboard dashboard-id="1"></bknd-dashboard>
                    </div>
                </div>
                <div class="col-md-4">
                    <p>
                        Binded dashboard to BackAnd REST API
                    </p>
                    <p>
                        This directive provide you a quick dashboard display based on your settings in the console
                    </p>
                    <h3>bknd-form Settings</h3>
                    <p>All settings can be provided as attributes in the <code>bknd-ng-grid</code> or through the query string parameters.</p>
                    <ul>
                        <li>
                            <p>
                                <code>dashboard-id</code>
                                <em>(Defaults: null)</em> :
                                An id of a dashboard from BackAnd REST API configuration
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <hr />
                <div class="tabbable form-group">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active">
                            <a href="#bkndDashboardMarkup" showtab role="tab" data-toggle="tab">Markup</a>
                        </li>
                        <li>
                            <a href="#bkndDashboardJavaScript" showtab role="tab" data-toggle="tab">JavaScript</a>
                        </li>
                    </ul>
                    <div class="tab-content panel-body">
                        <div class="tab-pane fade in active" id="bkndDashboardMarkup">
<pre id="htmlOutput" class="html prettyprint"><span class="tag">&lt;div&gt;</span><span class="pln">
&nbsp;&nbsp;&nbsp;&nbsp;Dashboard Example
</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tag">&lt;bknd-dashboard</span><span class="pln"> </span><span class="atn">dashboard-id</span><span class="pun">=</span><span class="atv">"1"</span><span class="tag">&gt;&lt;/bknd-dashboard&gt;</span><span class="pln">
</span><span class="tag">&lt;/div&gt;</span></pre>
                        </div>
                        <div class="tab-pane fade in" id="bkndDashboardJavaScript">
                            <pre></pre>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
