<div class="row">
    <h3 class="col-md-2"><i class="fa fa-angle-right"></i> {{global.currentName}}</h3>
    <ol class="breadcrumb col-md-10 text-right">
        <li data-ng-repeat="breadcrumb in breadcrumbs"><a href="#" ng-style="{'cursor':'default'}"><i class="fa custom-icon" icon-type="breadcrumb.partType"></i> {{breadcrumb.name}}</a></li>
    </ol>
</div>

<div id="morris">
    <bknd-dashboard colors-options="{line:['#2577B5','#7CB47C','#7A92A3','#A7B3BC','#cb4b4b','#9440ed','#edc240'],
                    bar:['#2577B5','#7CB47C','#7A92A3','#A7B3BC','#cb4b4b','#9440ed','#edc240'],
                    donut:['#2577B5','#7CB47C','#7A92A3','#A7B3BC','#cb4b4b','#9440ed','#edc240'],
                    column:['#2577B5','#7CB47C','#7A92A3','#A7B3BC','#cb4b4b','#9440ed','#edc240'],
                    spline:['#2577B5','#7CB47C','#7A92A3','#A7B3BC','#cb4b4b','#9440ed','#edc240'],
                    area:['#2577B5','#7CB47C','#7A92A3','#A7B3BC','#cb4b4b','#9440ed','#edc240'],
                    bubble:['#2577B5','#7CB47C','#7A92A3','#A7B3BC','#cb4b4b','#9440ed','#edc240']}"></bknd-dashboard>
</div>
