<ng-form name="innerForm">
    <select ng-change="changed()" ng-show="!field.inlineEditing && field.show" name="field" class="form-control" ng-required="field.required" ng-model="value.val" ng-disabled="field.disabled" ng-class="inputClass" ng-options="o.name for o in options"></select>
    <div class="input-group" ng-class="inputClass" ng-show="field.inlineEditing">
        <select ng-change="changed()" name="field" class="form-control" ng-required="field.required" ng-model="value.val" ng-show="field.show" ng-disabled="field.disabled" ng-class="inputClass" ng-options="o.name for o in options"></select>
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" data-toggle="modal" ng-click="inlineEditing()">
                <i class="fa custom-icon ng-isolate-scope fa-table" icon-type="grid"></i>
            </button>
        </span>
    </div>
    <div ng-if="field.required" class="alert alert-danger" role="alert" ng-show="innerForm.field.$error.required">{{errors.required}}</div>
</ng-form>