<ng-form name="innerForm">
    <select ng-show="!field.inlineEditing" name="field" class="form-control" ng-required="field.required" ng-model="value.val" ng-show="field.show" ng-disabled="field.disabled" ng-class="inputClass" ng-options="o.name for o in options"></select>
    <div class="input-group" ng-class="inputClass" ng-show="field.inlineEditing">
        <select name="field" class="form-control" ng-required="field.required" ng-model="value.val" ng-show="field.show" ng-disabled="field.disabled" ng-class="inputClass" ng-options="o.name for o in options"></select>
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" data-toggle="modal" ng-click="inlineEditing()">
                <i class="glyphicon glyphicon-new-window"></i>
            </button>
        </span>
    </div>
    <div ng-if="field.required" class="alert alert-danger" role="alert" ng-show="innerForm.field.$error.required">Missing</div>
</ng-form>