.ngFooterPanel{

    color: #666;
}

.ngBackGridSelect
{
    height: 32px; 
    width: 55px; 
    border-color: rgb(221, 221, 221);
    color: #666;
}

#backand-banner .navbar-header{
    height:30px;
}

#backand-banner .dropdown-menu{
    z-index: 9999;
}

.yellow {
	color: yellow;
}

.orange {
	color: orange;
}

.green {
	color: #87c540;
}

.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin:20px 0;
}
