
<label ng-hide="field.type == 'checkbox'">{{field.displayName | parseLabel:field}}</label>
<div ng-switch on="field.type">
    <bknd-ng-grid ng-switch-when="subgrid" view-name="field.relatedViewName" filter-options="field.filterSubgrid()" input-style="{'height': 500}"></bknd-ng-grid>
    <div ng-switch-when="disabledSubgrid" bknd-disabled-grid message="'Save first to add rows'"></div>
    <div ng-switch-when="singleSelect" single-select field="field" value="field.value" form="" input-class="" errors="field.errors"></div>
    <div ng-switch-when="autocomplete" autocomplete field="field" value="field.value" form="" input-class="" errors="field.errors"></div>
    <div ng-switch-when="editor" editor field="field" value="field.value" form="" input-class="" errors="field.errors"></div>
    <div ng-switch-when="textarea" textarea field="field" value="field.value" form="" input-class="" errors="field.errors"></div>
    <label ng-switch-when="checkbox" class="checkbox-inline">
        <div checkbox field="field" value="field.value" form="" input-class="" errors="field.errors"></div>
        {{field.displayName | parseLabel:field}}
    </label>
    <div ng-switch-when="date" date field="field" value="field.value" form="" input-class="" errors="field.errors"></div>
    <div ng-switch-when="image" image field="field" value="field.value" form="" input-class="" errors="field.errors"></div>
    <div ng-switch-when="number" numeric field="field" value="field.value" form="" input-class="" errors="field.errors"></div>
    <div ng-switch-when="currency" numeric field="field" value="field.value" form="" input-class="" errors="field.errors"></div>
    <div ng-switch-when="percentage" numeric field="field" value="field.value" form="" input-class="" errors="field.errors"></div>
    <div ng-switch-when="numberWithSeparator" numeric field="field" value="field.value" form="" input-class="" errors="field.errors"></div>
    <div ng-switch-when="numeric" numeric field="field" value="field.value" form="" input-class="" errors="field.errors"></div>
    <div ng-switch-when="email" email field="field" value="field.value" form="" input-class="" errors="field.errors"></div>
    <div ng-switch-when="hyperlink">
        <div link field="field" value="field.value" form="" input-class="" errors="field.errors"></div>
    </div>
    <div ng-switch-default input field="field" value="field.value" form="" input-class="" errors="field.errors"></div>
</div>
