
<hr ng-if="field.hr">
<div class="subtitle text-info" ng-bind-html="renderHtml(field.seperatorTitle)"></div>
<div ng-bind-html="renderHtml(field.preLabel)"></div>
<label ng-switch on="field.type">{{field.displayName | parseLabel:field}}
  <!--<div ng-switch-when="date">
    <p class="input-group">
      <input name="date" required type="text" is-date class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="field.value" is-open="field.opened" close-text="Close" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open($event, field)"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </p>
    <p class="text-danger" ng-show="subForm.date.$invalid">Date is invalid!</p>
  </div>-->
  <!-- <textarea ng-switch-when="textarea" name="{{field.name}}" class="form-control" ng-model="field.value"></textarea> -->
  <!--<div textarea field="field"></div>-->
  <!--<input to-number ng-switch-when="number" ng-model="field.value" type="text" name="{{field.name}}" class="form-control" value="{{field.value}}">
  <input ng-switch-default type="{{field.type}}" name="{{field.name}}" class="form-control" value="{{field.value}}">-->
    
    <ngback-grid ng-switch-when="subgrid" table-name="field.relatedViewName" filter-options="filterSubgrid(field,formSchema.id)"></ngback-grid>
    <div ng-switch-when="singleSelect" single-select field="field" value="field.value" form="" input-class="" errors="field.errors"></div>
    <div ng-switch-when="autocomplete" autocomplete field="field" value="field.value" form="" input-class="" errors="field.errors"></div>
    <div ng-switch-when="editor" editor field="field" value="field.value" form="" input-class="" errors="field.errors"></div>
    <div ng-switch-when="textarea" textarea field="field" value="field.value" form="" input-class="" errors="field.errors"></div>
    <div ng-switch-when="checkbox" checkbox field="field" value="field.value" form="" input-class="" errors="field.errors"></div>
    <!--<div ng-switch-when="date" date field="field" value="field.value" form="" input-class="" errors="field.errors"></div>-->
    <div ng-switch-when="number" numeric field="field" value="field.value" form="" input-class="" errors="field.errors"></div>
    <div ng-switch-when="currency" numeric field="field" value="field.value" form="" input-class="" errors="field.errors"></div>
    <div ng-switch-when="percentage" numeric field="field" value="field.value" form="" input-class="" errors="field.errors"></div>
    <div ng-switch-when="hyperlink">
        <div link field="field" value="field.value" form="" input-class="" errors="field.errors"></div>
    </div>
    <div ng-switch-default input field="field" value="field.value" form="" input-class="" errors="field.errors"></div>
</label>
<div ng-bind-html="renderHtml(field.postLabel)"></div>