<div class="show" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="" style="width: 65%;">
        <div class="">
            <div class="">
                <form role="form" name="form" novalidate ng-submit="submit()">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h6 class="panel-title">{{formSchema.title}}</h6></div>
                        <div class="panel-body">
                            <div ng-include="'backand/js/directives/forms/partials/field.html'"
                                 class="col-md-{{12 / category.columnsInDialog * field.columns | parseInt}} form-group" ng-repeat="field in formSchema.fields"
                                 ng-if="field.show">
                                <!-- feild -->
                            </div>
                            <div class="tabbable form-group">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li ng-repeat="category in formSchema.categories" ng-class="{active : $first}">
                                        <a href="#{{category.catName | removeSpaces}}" ng-click="toggleActive($event)" role="tab" data-toggle="tab">{{category.catName}}</a>
                                    </li>
                                </ul>
                                <div class="tab-content panel-body">
                                    <div class="tab-pane fade in" ng-class="{active : $first}" ng-repeat="category in formSchema.categories" id="{{category.catName | removeSpaces}}" ng-form="subForm">
                                        <div ng-include="'backand/js/directives/forms/partials/field.html'"
                                             class="col-md-{{12 / category.columnsInDialog * field.columns | parseInt}} form-group" ng-repeat="field in category.fields"
                                             ng-if="field.show">
                                            <!-- feild -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions text-right">
                                <div ng-style="{'display':'inline', 'text-align':'left'}">
                                    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
                                </div>
                                <div ng-style="{'display':'inline'}">
                                    <button type="reset" data-dismiss="modal" class="btn btn-danger">Cancel</button>
                                    <button type="submit" class="btn btn-primary" ng-show="!waiting" ng-disabled="form.$invalid">Submit</button>
                                    <img class="img-responsive" ng-show="waiting" src="backand/img/ajax-loader.gif" ng-style="{'display':'inline-block'}" />
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- <div class="modal show" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog" style="width: 65%;">
        <div class="modal-content">
            <div class="modal-body">
                <form role="form">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h6 class="panel-title">Edit Employees</h6></div>
                        <div class="panel-body">
                            <div ng-include="'views/forms/field.html'" class="form-group" ng-repeat="field in formSchema.fields">
                              feild
                            </div>
                            <div class="tabbable form-group">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li ng-repeat="category in formSchema.categories" ng-class="{active : $first}">
                                        <a href="#{{category.catName}}" ng-click="toggleActive($event)" role="tab" data-toggle="tab">{{category.catName}}</a>
                                    </li>
                                </ul>
                                <div class="tab-content panel-body">
                                    <div class="tab-pane fade in" ng-class="{active : $first}" ng-repeat="category in formSchema.categories" id="{{category.catName}}" ng-form="subForm">
                                        <div
                                            ng-include="'views/forms/field.html'"
                                       class="form-group" ng-repeat="field in category.fields"
                                       style="display: inline-block;width: {{100 / category.columnsInDialog * field.columns}}%;"
                                   >
                                            feild
                                        </div>
                                    </div>
                                </div>
                            </div>
                          <div class="form-actions text-right">
                              <button type="reset" data-dismiss="modal" class="btn btn-danger">Cancel</button>
                              <button type="submit" class="btn btn-primary">Submit</button>
                          </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
 -->

<!--<form name="{{formDetails.name}}" novalidate role="form">
lll
<br/>

<div class="row">
  <div ng-class="newspaper" style="background-color: red;">
    <div link field="nytimes"></div>
  </div>
</div>
 
<br/>
kkkk
 
 <br/>

<div class="row">
  <div ng-class="editor" >
    <div textarea field="y" value="v" form="formDetails"></div>
  </div>
</div>

<br/>
<div datepicker field="y"></div>
tttt
<br/>
  
  <div input field="z" value="i" form="formDetails"></div>

  <br/>


  <div input field="form.fields.anotherInput" value="value.anotherInput" form="formDetails"></div>
  mmmm
  <br/>
  <div class="alert alert-danger" role="alert" ng-show="{{formDetails.name}}.$invalid">Form Invalid</div>
</form>-->