<!-- <div class="modal show" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog" style="width: 65%;">
        <div class="modal-content">
            <div class="modal-body">
                <form role="form">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h6 class="panel-title">Edit Employees</h6></div>
                        <div class="panel-body">
                            <div ng-include="'views/forms/field.html'" class="form-group" ng-repeat="field in formSchema.fields">
                              feild
                            </div>
                            <div class="tabbable form-group">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li ng-repeat="category in formSchema.categories" ng-class="{active : $first}">
                                        <a href="#{{category.catName}}" ng-click="toggleActive($event)" role="tab" data-toggle="tab">{{category.catName}}</a>
                                    </li>
                                </ul>
                                <div class="tab-content panel-body">
                                    <div class="tab-pane fade in" ng-class="{active : $first}" ng-repeat="category in formSchema.categories" id="{{category.catName}}" ng-form="subForm">
                                        <div
                                            ng-include="'views/forms/field.html'"
                                       class="form-group" ng-repeat="field in category.fields"
                                       style="display: inline-block;width: {{100 / category.columnsInDialog * field.columns}}%;"
                                   >
                                            feild
                                        </div>
                                    </div>
                                </div>
                            </div>
                          <div class="form-actions text-right">
                              <button type="reset" data-dismiss="modal" class="btn btn-danger">Cancel</button>
                              <button type="submit" class="btn btn-primary">Submit</button>
                          </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
 -->

<form name="{{form.name}}" novalidate role="form">


  <div class="row" ng-repeat="field in fieldsArray">
    <div  ng-class="computeFieldSpan($index)">  
      <div input field="field" value="valuesArray[$index]" form="form" input-class="classesArray[$index]"></div>
    </div>
  </div>

  <div class="row">
    <div  ng-class="computeFieldSpan(0)">
      <div textarea field="fields[0]" value="values[0]" form="form"></div>
    </div>
  </div>

  <div class="row">
    <div ng-class="computeFieldSpan(1)" style="background-color: red;">
      <div link field="fields[1]" value="values[1]"></div>
    </div>
  </div>
 





<!--   <div class="row">
    <div  ng-class="computeFieldSpan(4)">
      <div datepicker field="fields[4]"></div>
    </div>
  </div> -->


  <div class="row">
    <div  ng-class="computeFieldSpan(2)">  
      <div input field="fields[2]" value="values[2]" form="form" input-class="format[2]"></div>
    </div>
  </div>

 


  <div class="row">
    <div  ng-class="computeFieldSpan(3)">
      <div input field="fields[3]" value="values[3]" form="form" input-class="format[3]" errors="errors[3]"></div>
    </div>
  </div>


<div class="row">
  <div class="col-md-8">
    <div editor field="htmlField" value="htmlValue" form="form" input-class="" errors=""></div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div checkbox field="booleanField" value="booleanValue" form="form" input-class="" errors=""></div>
  </div>
</div>

    <div class="row">
      <div class="col-md-8">
        
          <div html field="plainHtmlField"  value="plainHtmlValue" ></div>

      </div>
    </div>
    <br/>
    before numeric
    <br/>

     <div class="row">
      <div class="col-md-8">
        
          <div numeric field="numericField"  value="numericValue" errors="numericErrors"></div>

      </div>
    </div>

    <br/>
    after numeric
    <br/>

    <!-- <div class="row">
      <div class="col-md-8">

        <input type="file" ng-file-select="onFileSelect($files)">
        <br/>
        <button class="button" ng-click="start()" ng-show="progress < 0">Start</button>
        <button ng-click="upload.abort()" ng-show="hasUploader() && progress < 100">Cancel Upload</button>
        <br/>
        <div class="err" ng-show="errorMsg != null">{{errorMsg}}</div>
        <br/>

        <span class="progress" ng-show="progress[$index] >= 0">           
          <div style="width:{{progress[$index]}}%">{{progress[$index]}}%</div>
        </span>       
        <br/>
        {{f.name}} - size: {{f.size}}B - type: {{f.type}}
        <br/>
      </div>
    </div> -->





  <div class="alert alert-danger" role="alert" ng-show="{{form.name}}.$invalid">Form Invalid</div>
</form>