<section class="content">
    <div class="row">
        <div class="col-md-6">
            <!-- BAR CHART -->
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Bar Chart</h3>
                </div>
                <div class="box-body chart-responsive">
                    <barchart></barchart>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
            <!-- LINE CHART -->
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Line Chart</h3>
                </div>
                <div class="box-body chart-responsive">
                    <linechart></linechart>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
        <div class="col-md-6">
            <!-- DONUT CHART -->
            <div class="box box-danger">
                <div class="box-header">
                    <h3 class="box-title">Donut Chart</h3>
                </div>
                <div class="box-body chart-responsive">
                    <donutchart></donutchart>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
    </div><!-- /.row -->

</section><!-- /.content -->
