<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true" ng-controller="signInController" ng-init="init()">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="text-center">Login</h1>
            </div>
            <div class="modal-body">
                <form class="form col-md-12 center-block" ng-submit="authentication()">
                    <div class="form-group">
                        <input type="email" class="form-control input-lg" ng-model="user" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-lg" ng-model="password" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" ng-model="appName" placeholder="Application" required>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary btn-lg btn-block" type="submit" value="Sign In">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">

                </div>
            </div>
        </div>
    </div>
</div>
