<ul class="sidebar-menu">
    <li class="treeview" ng-repeat="p in pages" data-ng-if="p.partType == 'table' || p.partType == 'dashboard'|| p.partType == 'content'" ng-click="setCurrentTable(p.partId, p.name ,$index ,p.partType)" >
        <!--<div icons></div>-->
        <a href="#">
            <i class="fa custom-icon"  icon-type="p.partType"></i>
            <span>{{p.name}}</span>
            <i class="fa fa-angle-left pull-right" ng-show="p.pages"></i>
        </a>
        <ul class="treeview-menu" ng-show="p.pages">
            <li ng-repeat="page in p.pages" data-ng-if="page.partType == 'table' || page.partType == 'dashboard'|| page.partType == 'content'" ng-click="setCurrentTable(page.partId, page.name ,$index ,page.partType); $event.stopPropagation()">
                <!--<div icons></div>-->
                <a href="#">
                    <i class="fa custom-icon" icon-type="page.partType"></i>
                    <span>{{page.name}}</span>

                </a>
            </li>

        </ul>
    </li>
</ul>
