<ng-form name="innerForm">
    <input typeahead-on-select="setPcode($item)" typeahead-editable="false" type="text" name="field" class="form-control" ng-required="field.required" ng-model="field.selected" ng-show="field.show" ng-disabled="field.disabled" ng-class="inputClass" min-length="2" typeahead="option.label for option in options($viewValue)">
    <div ng-if="field.required" class="alert alert-danger" role="alert" ng-show="innerForm.field.$error.required">Missing</div>
    <div class="alert alert-danger" role="alert" ng-show="!innerForm.field.$valid">Not matched</div>
</ng-form>